:root {
  --logo-color-header: #000000;
  --accent: #2196f3;  
  --title-color: #212121;
  --p-color: #757575;
  --gray: #2f303a;
  --white: #ffffff;  
  --second-btn-color: #188ce8;
  --portfolio-secondary-btn-color: #f5f4fa;  
}

/* ------p font------ */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

/* -----reset----- */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.address {
  font-style: inherit;
}
.btn {  
  border-style: none;  
}

/* -----header----- */

.header {
  background-color: var(--white);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
}
.header .logo {
  color: var(--logo-color-header);
}
.logo-accent {
  color: var(--accent);
}
.nav-list {
}
.nav-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}
.contact-list {
}
.current {
  color: var(--accent);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent);
}

/* -----main----- */

.hero {
  background-color: var(--gray);
}
.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-btn {  
  font-family: inherit;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-btn-color);
}

/* -----features----- */

.features {
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
}
.features-item-text {
}

/* -----busines----- */

.business {
}
.business-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.1666;
}
.business-list {
}
.business-item {
}

/* -----team----- */

.team {
}
.team-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.1666;
}
.team-list {
}
.team-item {
  
}
.team-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}
.team-profession {
  font-size: 16px;
  line-height: 1.1875;
}

/* -----footer----- */

.footer {
  background-color: var(--gray);
}
.footer .logo {
  color: var(--white);
}
.address-list {
}
.address-item {
  color: var(--white);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent);
}
.opacity {
  opacity: 60%;
}

/* -----portfolio----- */

.portfolio-filter {
}
.filter-btn {  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-color);
  background-color: var(--portfolio-secondary-btn-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--accent);
}
.project-list {
}
.project-item {
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.875;
}
